/* Custom CSS goes here! */

/* Page Sections */

#stats {
  margin-top: 8vh;
}

#about {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#portfolio {
  padding-top: 15vh;
  padding-bottom: 45vh;
}

#contact {
  padding-top: 15vh;
  padding-bottom: 40vh;
}

@media (max-width: 767px) {
  #contact {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  #about, #portfolio, #contact {
    width: 90%;
  }
}

@media (min-width: 992px) {
  #contact {
    width: 45%;
  }
}

body {
  background-image: url(/assets/img/background.jpg);
  font-family: 'Roboto Mono', monospace;
}

.jumbotron {
  color: #fff;
  border: 6px solid #fff;
  background-color: #111;
}

#headshot {
  border: 2px solid #fff;
  border-radius: 6px;
}

.navbar-default {
  height: 63px;
  background-color: #111;
  border-bottom: 4px solid #111;
}

.navbar-default .navbar-brand {
  margin-top: 5px;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  min-width: 100px;
  border: 3px solid #111;;
  border-radius: 6px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*text-shadow: 1px 1px 10px #111;*/
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
  color: #fff;
  background-color: #05e707;
}

.navbar-default .navbar-nav > li {
  padding-top: 3px;
  background-color: #111;
}

.navbar-default .navbar-toggle {
  margin-top: 15px;
  border: 0;
  background-color: #05e707;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #05e707;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #111;
}

.navbar-default .navbar-link {
  color: #fff;
}

.navbar-default .navbar-link:hover {
  color: #fff;
}

.navbar-collapse > ul {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #111;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 56px;
  text-transform: uppercase;
  color: #fff;
  background-color: #111;
}

#link-list {
  margin-top: -12px;
}

.footer h5 {
  font-size: 16px;
  margin-top: 18px;
}

#contact a, a:visited {
  text-decoration: underline;
  color: #fff;
}

#contact a:hover {
  color: #aaa;
}

body a {
  color: #fff;
}

body a:active, a:hover {
  color: #aaa;
}

@media (max-width: 767px) {
  .footer {
    position: relative;
    height: 90px;
    text-align: center;
  }
  .footer h5 {
    margin-top: 0;
  }
}

.text-justify-xs {
    text-align: center;
}

@media (min-width: 768px) {
    .text-justify-sm {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .text-justify-md {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: right;
    }
}
