#stats {
margin-top:3vh;
}

#stats a{
text-decoration: underline;
}

#start {
padding-top:20vh;
opacity:0;
}

#first, #middle, #last {
opacity:0;
}

#subheader {
margin-left:18px;
opacity:0;
}

#subheader li {
padding:5px 10px;
color:#05e707;
}

#about {
opacity:0;
padding-top:15vh;
}

#skills {
opacity:0;
padding-top:15vh;
}

#portfolio {
opacity:0;
padding-top:15vh;
}

#portfolio .block {
position:relative;
width: 300px;
height: 175px;
margin-top:19px;
margin-bottom:19px;
}

#portfolio .block img {
border:3px solid #fff;
width:100%;
height:100%;
margin:10px 0px;
padding:3px;
}

#portfolio .block .img-rollover {
position: absolute;
height: 170px;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin:13px 19px;
background: rgba(67, 67, 67, 0.75);
font-family:Rubik, san-serif;
color: #fff;
overflow: hidden;
visibility: hidden;
opacity: 0;
}

#portfolio .block h4 {
padding: 3px;
border: 2px solid #fff;
display: inline-block;
}

#portfolio .block h5 {
margin:3px;
padding:5px;
}

#portfolio .block a {
font-family:'Roboto Mono', monospace;
position:absolute;
top:70%;
left:0;
right:0;
bottom:0;
text-decoration: underline;
}

#portfolio .block:hover .img-rollover {
visibility:visible;
opacity:1;
}

#social {
opacity:0;
padding-top:15vh;
}

#social-link li {
width:150px;
height:110px;
padding:0;
margin:10px;
}

#social a.twit:hover {
color:#1da1f2;
}

#social a.ghub:hover {
color:#6e5494;
}

#social a.cpen:hover {
color:#fcd000;
}

#social a.fcc:hover {
color:#006400;
}

#social a.waka:hover{
color:#E1FFFF;
}

#contact {
opacity:0;
padding-bottom:10vh;
padding-top:15vh;
}

#contact-link li {
margin:5px;
}

#contact a,a:visited {
color:#fff;
}


#contact a.email:hover {
color:#ea4335;
}

#contact a.tel:hover {
color:#28D230;
}

#contact a.lin:hover {
color:#0077b5;
}

#contact .error {
color:#ff0000;
}

body {
background:url(/assets/img/background.jpg);
font-family:'Roboto Mono', monospace;
color:#fff;
overflow-x: hidden;
}

.btn {
background-color: #111;
color:#fff;
border:2px solid #fff;
border-radius: 0px;
}

.btn:hover, .btn:focus, .btn:active {
background-color:#05e707;
color:#111;
border:2px solid #fff;
}

.well {
background-color: #333;
border: 0;
}

.jumbotron {
background-color:#111;
border:6px solid #fff;
}

#headshot {
border: 3px solid #fff;
}

.divider-vertical {
top: 14px;
height: 36px;
border-left: 3px solid #fff;
float: left;
}

#start .divider-vertical {
position: relative;
float: none;
margin:0;
padding:0;
}

.navbar-default {
background-color:#111;
border-bottom:4px solid #111;
height:63px;
display:none;
}

.navbar-default .navbar-brand {
color:#fff;
font-size:40px;
font-weight:700;
margin-top:5px;
}

.navbar-default .navbar-nav > li > a {
display: inline-block;
background-color: #111;
color:#fff;
font-family:Rubik, sans-serif;
font-size:18px;
font-weight: 700;
text-align:center;
text-transform:uppercase;
}

.navbar-default .navbar-nav > li {
background-color:#111;
padding-top:8px;
}

.navbar-default .navbar-toggle {
background-color:#05e707;
border:0;
margin-top:15px;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
background-color:#05e707;
}

.navbar-default .navbar-toggle .icon-bar {
background-color:#fff;
}

.navbar-collapse > ul {
margin-bottom:0;
margin-top:0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border:0;
}

.navbar-default .collapse.in li > a, .navbar-default .collapsing li > a {
width: 100%;
}

.footer {
background:#111;
bottom:0;
color:#fff;
height:60px;
margin-bottom:0;
margin-top:0;
padding-top:0;
position:relative;
text-transform:uppercase;
width:100%;
overflow: hidden;
}

.footer h5 {
font-size:16px;
margin-top:18px;
}

.footer img {
margin-left: -3px;
margin-right: -3px;
margin-top: -3px;
}

body a {
color:#fff;
}

body a:hover {
color:#aaa;
}

@media (max-width: 426px) {
#portfolio .block .img-rollover h5{
visibility: hidden;
}
}

@media (max-width: 767px) {
#about .jumbotron {
padding: 30px 5px;
}
#start h2 {
font-size: 22px;
}
#start h4 {
font-size: 16px;
}
}

@media (max-width: 991px) {
.footer{
height: 105px;
text-align:center;
}
.footer h5 {
margin:5px;
}
.text-justify {
text-align: center;
}
#about .well, #skills .well, #social .well, #contact .well {
margin: 5px;
padding:5px;
}
#subheader {
margin:0;
padding:0;
}
#portfolio .block .img-rollover {
background: rgba(67, 67, 67, 0.50);
visibility:visible;
opacity:1;
}
}

@media (max-width: 1121px) {
#subheader .divider-vertical:nth-child(4){
display:none;
}
}

@media (min-width: 768px) {
.text-justify {
text-align: center;
}
}

@media (min-width: 992px) {
#start, #about, #skills, #portfolio, #social, #contact {
width:85%;
}
.text-justify {
text-align:right;
}
}


/*
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.1.0
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
*/

/* Pulse */

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  backface-visibility: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*
// Preloader block - Credit: http://simbyone.com/30-css-page-preload-animations/
*/

#loading {
background-color: #111;
height: 100%;
width: 100%;
position: fixed;
z-index: 1;
margin-top: 0px;
top: 0px;
}
#loading-center {
width: 100%;
height: 100%;
position: relative;
}
#loading-center-absolute {
position: absolute;
left: 50%;
top: 50%;
height: 150px;
width: 150px;
margin-top: -75px;
margin-left: -75px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.object {
width: 20px;
height: 20px;
background-color: #FFF;
position: absolute;
left: 65px;
top: 65px;
border-radius: 50% 50% 50% 50%;
}
.object:nth-child(2n+0) {
margin-right: 0px;
}
#object_one {
-webkit-animation: object_one 2s infinite;
animation: object_one 2s infinite;
-webkit-animation-delay: 0.2s;
animation-delay: 0.2s;
}
#object_two {
-webkit-animation: object_two 2s infinite;
animation: object_two 2s infinite;
-webkit-animation-delay: 0.3s;
animation-delay: 0.3s;
}
#object_three {
-webkit-animation: object_three 2s infinite;
animation: object_three 2s infinite;
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
}
#object_four {
-webkit-animation: object_four 2s infinite;
animation: object_four 2s infinite;
-webkit-animation-delay: 0.5s;
animation-delay: 0.5s;
}
#object_five {
-webkit-animation: object_five 2s infinite;
animation: object_five 2s infinite;
-webkit-animation-delay: 0.6s;
animation-delay: 0.6s;
}
#object_six {
-webkit-animation: object_six 2s infinite;
animation: object_six 2s infinite;
-webkit-animation-delay: 0.7s;
animation-delay: 0.7s;
}
#object_seven {
-webkit-animation: object_seven 2s infinite;
animation: object_seven 2s infinite;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
}
#object_eight {
-webkit-animation: object_eight 2s infinite;
animation: object_eight 2s infinite;
 -webkit-animation-delay: 0.9s;
animation-delay: 0.9s;
}
#object_big {
position: absolute;
width: 50px;
height: 50px;
left: 50px;
top: 50px;
-webkit-animation: object_big 2s infinite;
animation: object_big 2s infinite;
-webkit-animation-delay: 0.5s;
animation-delay: 0.5s;
}

@-webkit-keyframes object_big {
50% { transform: scale(0.5); -webkit-transform: scale(0.5); -ms-transform: scale(0.5); }
}
@keyframes object_big {
50% { transform: scale(0.5); -webkit-transform: scale(0.5); -ms-transform: scale(0.5); }
}
@-webkit-keyframes object_one {
50% { transform: translate(-65px,-65px); -webkit-transform: translate(-65px,-65px); -ms-transform: translate(-65px,-65px); }
}
@keyframes object_one {
50% { transform: translate(-65px,-65px); -webkit-transform: translate(-65px,-65px); -ms-transform: translate(-65px,-65px); }
}
@-webkit-keyframes object_two {
50% { transform: translate(0,-65px); -webkit-transform: translate(0,-65px); -ms-transform: translate(0,-65px); }
}
@keyframes object_two {
50% { transform: translate(0,-65px); -webkit-transform: translate(0,-65px); -ms-transform: translate(0,-65px); }
}
@-webkit-keyframes object_three {
50% { transform: translate(65px,-65px); -webkit-transform: translate(65px,-65px); -ms-transform: translate(65px,-65px); }
}
@keyframes object_three {
50% { transform: translate(65px,-65px); -webkit-transform: translate(65px,-65px); -ms-transform: translate(65px,-65px); }
}
@-webkit-keyframes object_four {
50% { transform: translate(65px,0); -webkit-transform: translate(65px,0); -ms-transform: translate(65px,0); }
}
@keyframes object_four {
50% { transform: translate(65px,0); -webkit-transform: translate(65px,0); -ms-transform: translate(65px,0); }
}
@-webkit-keyframes object_five {
50% { transform: translate(65px,65px); -webkit-transform: translate(65px,65px); -ms-transform: translate(65px,65px); }
}
@keyframes object_five {
50% { transform: translate(65px,65px); -webkit-transform: translate(65px,65px); -ms-transform: translate(65px,65px); }
}
@-webkit-keyframes object_six {
50% { transform:  translate(0,65px); -webkit-transform:  translate(0,65px); -ms-transform: translate(0,65px); }
}
@keyframes object_six {
50% { transform:  translate(0,65px); -webkit-transform:  translate(0,65px); -ms-transform: translate(0,65px); }
}
@-webkit-keyframes object_seven {
50% { transform: translate(-65px,65px); -webkit-transform: translate(-65px,65px); -ms-transform: translate(-65px,65px); }
}
@keyframes object_seven {
50% { transform: translate(-65px,65px); -webkit-transform: translate(-65px,65px); -ms-transform: translate(-65px,65px); }
}
@-webkit-keyframes object_eight {
50% { transform: translate(-65px,0); -webkit-transform: translate(-65px,0); -ms-transform: translate(-65px,0); }
}
@keyframes object_eight {
50% { transform: translate(-65px,0); -webkit-transform: translate(-65px,0); -ms-transform: translate(-65px,0); }
}
