#stats {
margin-top:8vh;
}

#about {
padding-bottom:15vh;
padding-top:15vh;
}

#portfolio {
padding-bottom:45vh;
padding-top:15vh;
}

#portfolio .tab-pane li {
margin: 20px 2px;
padding: 0;
}

#portfolio img {
padding: 5px;
}

#contact {
padding-bottom:40vh;
padding-top:15vh;
}

#contact a,a:visited {
color:#fff;
text-decoration:underline;
}

#contact a:hover {
color:#aaa;
}

body {
background:url(/assets/img/background.jpg);
font-family:'Roboto Mono', monospace;
}

.jumbotron {
background-color:#222;
border:6px solid #fff;
color:#fff;
}

.well {
background-color: #333;
border: 0;
}

#headshot {
border:2px solid #fff;
border-radius:6px;
}

#thumbimg {
border:2px solid #fff;
border-radius:6px;
}

#fds img {
opacity: 0;
}

.navbar-default {
background-color:#222;
border-bottom:4px solid #222;
height:63px;
}

.navbar-default .navbar-brand {
color:#fff;
font-size:40px;
font-weight:700;
margin-top:5px;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
color:#05e707;
}

.navbar-default .navbar-text {
color:#fff;
}

.navbar-default .navbar-nav > li > a {
background-color: #222;
border:3px solid #222;
border-radius:6px;
color:#fff;
font-family:Rubik, sans-serif;
font-size:18px;
font-weight: 700;
text-align:center;
text-transform:uppercase;
width: 150px;
}

.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus {
color:#fff;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
background-color: #05e707;
color:#fff;
font-size:20px;
text-shadow:0 2px 1px rgba(0,0,0,1);
}

.navbar-default .navbar-nav > li {
background-color:#222;
padding-top:3px;
}

.navbar-default .navbar-toggle {
background-color:#05e707;
border:0;
margin-top:15px;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
background-color:#05e707;
}

.navbar-default .navbar-toggle .icon-bar {
background-color:#fff;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
border-color:#222;
}

.navbar-default .navbar-link {
color:#fff;
}

.navbar-default .navbar-link:hover {
color:#fff;
}

.navbar-collapse > ul {
border-bottom:2px solid #222;
margin-bottom:0;
margin-top:0;
}

.navbar-default .collapse.in li > a, .navbar-default .collapsing li > a {
width: 100%;
}

.nav-tabs > li > a:hover {
background-color: #fff;
color: #222;
}

.footer {
background:#222;
bottom:0;
color:#fff;
height:56px;
margin-bottom:0;
margin-top:0;
padding-top:0;
position:fixed;
text-transform:uppercase;
width:100%;
}

#link-list {
margin-top:-12px;
}

a.twit:hover {
color:#1DA1F2;
}

a.lin:hover {
color:#1C87BD;
}

a.gh:hover {
color:purple;
}

a.cp:hover {
color:#FFE110;
}

a.fcc:hover {
color:#006400;
}

a.stats:hover {
color:#05e707;
}

.footer h5 {
font-size:16px;
margin-top:18px;
}

.footer img {
margin-left: -3px;
margin-right: -3px;
margin-top: -3px;
}

body a {
color:#fff;
}

body a:hover {
color:#aaa;
}

@media (max-width: 767px) {
#contact {
padding-bottom:0;
}
}

@media (max-width: 991px) {
.footer {
height:150px;
position:relative;
text-align:center;
}

.footer h5 {
margin-top:0;
}

.text-justify {
text-align: center;
}

.well {
margin: 20px;
}
}

@media (min-width: 768px) {
#about,#portfolio,#contact {
width:90%;
}
}

@media (min-width: 992px) {
#contact {
width:45%;
}

.text-justify {
text-align:right;
}
}
